.optimization {
    min-height: 549px;
    background-image: url("../img/bg/optimization.png");
    background-position: 450px 100%;
    background-repeat: no-repeat;
    padding: 108px 0 74px 0;
}

.optimization .container {
    display: flex;
    justify-content: end;
}

.optimization .optimization_wrapper {
    width: 773px;
}

.optimization .optimization_wrapper .optimization_header {
    color: #299CBD;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
}

.optimization .optimization_wrapper .optimization_text {
    margin-top: 25px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
}

.optimization .optimization_wrapper .bold {
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
}